.jokeContainer {
  margin-top: 2em;
  padding: 2em 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.nav button {
  margin-right: 1em;
  font-size: 1em;
  width: 4em;
  border-radius: 0.3em;
  outline: none;
  border: none;
  transition: 0.2s;
}

.nav button:hover {
  cursor: pointer;
  box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.15);
}

.displayFavJokes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5em;
}

.favJokeCard {
  padding: 0 1em;
  width: 20em;
  height: 14em;
  margin: 1em;
  background-color: rgba(219, 219, 208, 0.4);
  box-shadow: 3px 2px 10px 1px rgba(145, 144, 144, 0.15);
}

.favJokeCard p {
  font-size: 1.1em;
}
